.App {
 font-weight: normal;
}

.logoimage img {
    height: 5rem;
}

.navbar, .menuitems {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 3rem;
}

.menuitems {
    justify-self: flex-end;
}